<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Hay que cargar los estaticos antes de usarlos... -->
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'js/jquery-3.5.1.min.js' %} "></script>
  <script src="{% static 'js/popper.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <div class="sidebar-nav">
          <!-- Navegación general -->
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Main navigation</h5>
              <!-- 
            <h6 class="card-subtitle mb-2 text-muted">Subtítulo</h6>
            <p class="card-text">Contenido de la tarjeta</p>
            -->
              <a href="{% url 'index' %}" class="card-link">Home</a>
              <a href="{% url 'books' %}" class="card-link">All books</a>
              <a href="{% url 'authors' %}" class="card-link">All authors</a>
            </div>
          </div>
          <!-- Navegación del usuario -->
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">User</h5>
              {% if user.is_authenticated %}
              <h6 class="card-subtitle mb-2 text-muted">Welcome, {{ user.get_username }}</h6>
              <a href="{% url 'my-borrowed' %}" class="card-link">My Borrowed</a>
              <a href="{% url 'logout'%}?next={{request.path}}" class="card-link">Logout</a>
              {% else %}
              <h6 class="card-subtitle mb-2 text-muted">Welcome, guest</h6>
              <a href="{% url 'login'%}?next={{request.path}}" class="card-link">Login</a>
              {% endif %}
            </div>
          </div>
          <!-- Navegación del staff -->
          {% if user.is_authenticated and user.is_staff %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Staff</h5>
              <a href="{% url 'all-borrowed' %}" class="card-link">All borrowed</a>
            </div>
          </div>
          {% endif %}
        </div>
        {% endblock %}
      </div>
      <div class="container col-sm-10">
        {% block head-title %}{% endblock %}
        {% block buttons %}{% endblock %}
        {% block content %}{% endblock %}
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>