<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Hay que cargar los estaticos antes de usarlos... -->
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'js/jquery-3.5.1.min.js' %} "></script>
  <script src="{% static 'js/popper.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}" class="card-link">Local Library</a>

    <!-- ¿Que es esto? -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'books' %}" class="card-link">All books</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'authors' %}" class="card-link">All authors</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'my-borrowed' %}" class="card-link">My Borrowed</a>
        </li>

        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'all-borrowed' %}" class="card-link">All borrowed</a>
            <!--
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>
        {% endif %}

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}" class="card-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login'%}?next={{request.path}}" class="card-link">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
        <div class="sidebar-nav">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Welcome</h5>
              {% if user.is_authenticated %}
              <h6 class="card-subtitle mb-2 text-muted"> {{ user.get_username }} </h6>
              <!-- 
              <a href="{% url 'my-borrowed' %}" class="card-link">My Borrowed</a>
              <a href="{% url 'logout'%}?next={{request.path}}" class="card-link">Logout</a>
              -->
              {% else %}
              <h6 class="card-subtitle mb-2 text-muted">guest</h6>
              <a href="{% url 'login'%}?next={{request.path}}" class="card-link">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
      <div class="container col-sm-10">
        {% block head-title %}{% endblock %}
        {% block buttons %}{% endblock %}
        {% block content %}{% endblock %}
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
          </span>
        </div>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>